html, body {
  margin: 0;
}

.hidden {
  display: none;
}

.controls {
  margin: 5px;
  text-align: center;
}

.controls .arrow-style {
  border: 1px solid black;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.controls .press-action {
  background: yellow;
}

.controls .press-error {
  background: red;
}

.red-btn {
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  background: red;
  text-decoration: none;
}

.red-btn:hover {
  color: white;
}

.container {
  border: 2px solid red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .row span {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-block;
}

.container .row span .red-ball {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  background: red;
  margin: 5px;
}
/*# sourceMappingURL=main.css.map */